@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}


$dark-gray: rgb(17, 17, 17);
$gray: rgb(27, 27, 27);
$white: rgb(228, 228, 228);
$yellow: rgb(204, 218, 19);

h1{
    color: $yellow;
    margin-bottom: .5em;
}

h2{
    font-size:1.8em;
    margin: 2em 0;
    color: $yellow;
}

h3{
    margin: .8em 0;
    color: $yellow;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAV */
header{
    @include flex-column-center();
    background-color: $dark-gray;
    padding: 1.5em;

    ul{
        list-style: none;
    
        li a{
            color: $white;
            text-decoration: none;

            &:focus{
                color: $yellow;
            }

            &:hover{
                color: $yellow;
            }
        }
    }

    .active{
        color: $yellow;
    }
}

#logo{
    color: $yellow;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 1em;
}

main{
    min-height: 100vh;
    min-width: 100vw;
}

/* HOME */

.main-home{
    display: flex;
    flex-direction: column-reverse;
    background-color: $gray;
    color: $white;
    align-items: center;
}

.info {
    margin: 4em 2em;
    width: 100%;
}

#home-img{
    width: 80%;
    margin-top: 2em;
}

/* SHOWS */

.main-shows{
    @include flex-column-center();
    background-color: $gray;
    color: $white;
    display: flex;

    h3{
        font-size: 22px;
    }

    iframe{
        width: 80%;
        margin-bottom: 2em;
    }
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/shows.jpg);
    background-attachment: local;
    background-position: left;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}

.dates{
    margin: 2em 0;

    td{
        padding: .5em .2em;
    }
}

/* DISCOGRAFÍA */

.main-discografia{
    @include flex-column-center();
    background-color: $gray;
    color: $white;
    display: flex;
}

.cards{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;

    img{
        width: 90%;
    }
}

.card{
    @include flex-column-center();

    button{
        background-color: hsl(141, 73%, 42%);
        margin-top: 1em;
        
        a{
            color: $white;
        }
    }
}

.iframes{
    display: none;
}

/* GALERÍA */

.main-galeria{
    @include flex-column-center();
    background-color: $gray;
    color: $white;
}

.integrante{
    @include flex-column-center();

    img{
        width: 50%;
    }
    
    p{
        margin: 1em 0;
    }
}

/* CONTACTO */

.main-contacto{
    @include flex-column-center();
    background-color: $gray;
    color: $white;
}

.img-form{
    @include flex-column-center();
}

#img-contacto{
    width: 70%;
}

.formulario{
    width: 80%;
}

form{
    display: flex;
    flex-direction: column;
    margin: 3em;

    input{
        margin-bottom: 1em;
    }
}

$estilos-btn: (
    color: $yellow,
    borde: none,
    radio: 0.3em,
);

/* */
button{
    background-color: map-get($map: $estilos-btn, $key: color);
    border: map-get($map: $estilos-btn, $key: borde);
    border-radius: map-get($map: $estilos-btn, $key: radio);
    padding: 0.5em 1em;

    a{
        color: $dark-gray;
        text-decoration: none;
    }
}

#send-btn {
    @extend button;
    padding: 0.4em;

    &:hover{
        background-color: $dark-gray;
        color: $yellow;
    }
}

/* FOOTER */

footer{
    background-color: $dark-gray;
    color: $white;
    text-align: center;
    padding: 1em;
    grid-area: footer;

    img{
        width: 2em;
    }
}

@media screen and (min-width:768px){

    @mixin flex-row {
        display: flex;
        flex-direction: row;
    }

    header{
        @include flex-row();
        justify-content: flex-end;
    }

    ul li{
        display: inline-block;
        margin-left: 2em;
    }

    #logo{
        margin-right: auto;
        margin-bottom: 0;
    }
     
    /* HOME */

    .main-home{
        @include flex-row();
        align-items: center;
    }

    #home-img{
        margin: 5em;
        width: 600px;
        -webkit-transform: scale(1);
        transform: scale(1);

        &:hover{
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    /* SHOWS */

    .hero{
        background-attachment: fixed;
        height: 50vh;
    }

    .dates{
        td{
            padding: .5em 4em;
        }
    }

    /* DISCOGRAFÍA */

    .cards{
        @include flex-row();

        img{
            width: 80%;
        }
    }

    .card button{
        display: none;
    }

    .iframes{
        display: flex;
        justify-content: center;
        gap: 10em;
        margin-bottom: 2em;
    }

    /* GALERÍA */

    .main-galeria{
        @include flex-column-center();
    }

    .integrantes{
        @include flex-row();
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .integrante{
        @include flex-column-center();
    
        img{
            width: 50%;
        }
        
        p{
            margin: 1em 0;
        }
    }

    /* CONTACTO */

    .main-contacto{
        align-items: center;
    }

    .img-form{
        flex-direction: row;
    }

    #img-contacto{
        width: 80%;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);

        &:hover{
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .formulario{
        width: 120%;
    }
    
}
