@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden; }

h1 {
  color: #ccda13;
  margin-bottom: .5em; }

h2 {
  font-size: 1.8em;
  margin: 2em 0;
  color: #ccda13; }

h3 {
  margin: .8em 0;
  color: #ccda13; }

/* NAV */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111111;
  padding: 1.5em; }
  header ul {
    list-style: none; }
    header ul li a {
      color: #e4e4e4;
      text-decoration: none; }
      header ul li a:focus {
        color: #ccda13; }
      header ul li a:hover {
        color: #ccda13; }
  header .active {
    color: #ccda13; }

#logo {
  color: #ccda13;
  text-decoration: none;
  font-size: 1.2em;
  margin-bottom: 1em; }

main {
  min-height: 100vh;
  min-width: 100vw; }

/* HOME */
.main-home {
  display: flex;
  flex-direction: column-reverse;
  background-color: #1b1b1b;
  color: #e4e4e4;
  align-items: center; }

.info {
  margin: 4em 2em;
  width: 100%; }

#home-img {
  width: 80%;
  margin-top: 2em; }

/* SHOWS */
.main-shows {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b;
  color: #e4e4e4;
  display: flex; }
  .main-shows h3 {
    font-size: 22px; }
  .main-shows iframe {
    width: 80%;
    margin-bottom: 2em; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/shows.jpg);
  background-attachment: local;
  background-position: left;
  background-size: cover;
  width: 100vw;
  height: 50vh; }

.dates {
  margin: 2em 0; }
  .dates td {
    padding: .5em .2em; }

/* DISCOGRAFÍA */
.main-discografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b;
  color: #e4e4e4;
  display: flex; }

.cards {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em; }
  .cards img {
    width: 90%; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card button, .card #send-btn {
    background-color: #1db954;
    margin-top: 1em; }
    .card button a, .card #send-btn a {
      color: #e4e4e4; }

.iframes {
  display: none; }

/* GALERÍA */
.main-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b;
  color: #e4e4e4; }

.integrante {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .integrante img {
    width: 50%; }
  .integrante p {
    margin: 1em 0; }

/* CONTACTO */
.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b;
  color: #e4e4e4; }

.img-form {
  display: flex;
  flex-direction: column;
  align-items: center; }

#img-contacto {
  width: 70%; }

.formulario {
  width: 80%; }

form {
  display: flex;
  flex-direction: column;
  margin: 3em; }
  form input {
    margin-bottom: 1em; }

/* */
button, #send-btn {
  background-color: #ccda13;
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em; }
  button a, #send-btn a {
    color: #111111;
    text-decoration: none; }

#send-btn {
  padding: 0.4em; }
  #send-btn:hover {
    background-color: #111111;
    color: #ccda13; }

/* FOOTER */
footer {
  background-color: #111111;
  color: #e4e4e4;
  text-align: center;
  padding: 1em;
  grid-area: footer; }
  footer img {
    width: 2em; }

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  ul li {
    display: inline-block;
    margin-left: 2em; }
  #logo {
    margin-right: auto;
    margin-bottom: 0; }
  /* HOME */
  .main-home {
    display: flex;
    flex-direction: row;
    align-items: center; }
  #home-img {
    margin: 5em;
    width: 600px;
    -webkit-transform: scale(1);
    transform: scale(1); }
    #home-img:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }
  /* SHOWS */
  .hero {
    background-attachment: fixed;
    height: 50vh; }
  .dates td {
    padding: .5em 4em; }
  /* DISCOGRAFÍA */
  .cards {
    display: flex;
    flex-direction: row; }
    .cards img {
      width: 80%; }
  .card button, .card #send-btn {
    display: none; }
  .iframes {
    display: flex;
    justify-content: center;
    gap: 10em;
    margin-bottom: 2em; }
  /* GALERÍA */
  .main-galeria {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .integrantes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .integrante {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .integrante img {
      width: 50%; }
    .integrante p {
      margin: 1em 0; }
  /* CONTACTO */
  .main-contacto {
    align-items: center; }
  .img-form {
    flex-direction: row; }
  #img-contacto {
    width: 80%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
    #img-contacto:hover {
      -webkit-transform: scale(1);
      transform: scale(1); }
  .formulario {
    width: 120%; } }
